<%- include('./partisitons/header.ejs') %>


<!--  componeter -->

<div class="relative h-96 mb-20 bg-cover bg-center" style="background-image: url('https://cdn.pixabay.com/photo/2015/11/06/11/32/girl-1026246_1280.jpg');">
  <!-- Fondo de imagen -->
  <div class="absolute inset-0 bg-black opacity-70">
  </div>

  <!-- Contenedor para el mensaje y el formulario -->
  <div class="absolute inset-0 flex flex-col items-center justify-center">
    <div class="text-white text-center mb-8">
      <h1 class="text-4xl font-bold mb-4 hover:text-pink-100">¡Bienvenido a la sección de ropa!</h1>
      <p class="text-lg hover:opacity-100 font-bold hover:transition-all ease-out duration-300 transform hover:translate-y-4 text-pink-500">Explora nuestras increíbles características de diseño.</p>
    </div>

    <!-- Nuevo componente de búsqueda -->
    <form method="get" action="/searchModa" class="mb-3 hover:font-bold  ">
      <div class="relative mb-4 flex w-full flex-wrap items-stretch hover:transition-all duration-300  text-center transform ease-out hover:translate-y-4 hover:font-bold text-center ">
        <input
          type="text" name="datos_img"
          class="p-2 bg-white relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary "
          placeholder="Search"
          aria-label="Search"
          aria-describedby="button-addon2" />
    
        <!--Search icon-->
        
        <button   type="submit"
          class="input-group-text flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700 dark:text-neutral-200"
          id="basic-addon2">
          <svg 
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="pink"
            class="h-5 w-5 hover:text-pink-500 ">
            <path
              fill-rule="evenodd"
              d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- form-->

<!--form-->


<h1 class="text-6xl mt-20 text-white font-bold text-center">Free Image Website ❤️</h1>



<!-- Modal toggle --

<!-- Plantilla EJS para renderizar las tarjetas de imágenes -->
<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-1 mt-4 opacity-20 hover:transition-all duration-500 ease-out transform hover:translate-y-10 hovgrid-cols-1 hover:opacity-100">
  <% apiData.results.forEach(image => { %>
    <div class="relative w-full overflow-hidden rounded-lg shadow-md transition: transition-all ease-out duration-300 transform hover:scale-90 hover:translate-x-4">
      <!-- Imagen con sombra -->
      <img src="<%= image.urls.regular %>" alt="<%= image.alt_description %>" class="w-full h-96 object-cover" /> <!-- Ajusta 'h-96' según tu preferencia de altura -->

      <!-- Detalles de la imagen -->
      <div class="absolute inset-0 flex flex-col justify-center items-center p-4 bg-black bg-opacity-60 transition-opacity opacity-0 hover:opacity-100">
        <!-- Likes -->
        <div class="flex items-center text-white mb-2">
          <img class="w-4 mr-2" src="https://cdn-icons-png.flaticon.com/512/3128/3128313.png">
          <p><%= image.likes %> Likes</p>
        </div>

        <!-- Botón de "Leer Más" -->
        <a href="<%= image.links.html %>" target="_blank" class="block bg-pink-500 text-white py-2 px-4 rounded-full text-center hover:bg-black font-bold hover:">
          Leer Más
        </a>
      </div>
    </div>
  <% }); %>
</div>

      

<%- include('./partisitons/fotter.ejs') %>
